.welcome {
    margin-top: 0px;
    margin-left: 5px;
    text-align: left;
}

.blog-title-home {
    border-bottom:1px dotted rgb(172, 216, 255);
    width: 100%;
    text-align: left;
    padding-left: 2px;
    margin-bottom: 0;
    transition: all 1s ease-in-out;
}

.blog-title-home:hover {
    border-bottom:1px dotted rgb(0, 88, 165);
}

a {
    color: black;
}