.full-width-flex-row {
  max-width: 200px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* center vertically */
  align-items: center;     /* center horizontally */
  height: 100vh;
  gap: 5px;
  box-shadow: 1px 0px 1px #aaaaaa;
  margin-left: 0px;
  margin-top: 0px;
  z-index: 999;
  background-color: #000000;
}

.pageLink {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #ccc;
  margin-bottom: 10px;
}

.login-trigger {
color: #ccc !important;;
}

.pageLink.active {
  color: #fff;
}

.pageLink {
  position: relative;
}

.pageLink::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom: 3px solid #0065fd;
  transform: scaleX(0);
  transition: transform 0.6s ease;
  border-radius: 20%;
}

.pageLink:hover::after,
.pageLink.active::after {
  transform: scaleX(1);
}

.nav-name-title {
  display: flex;
  flex-shrink: 0;
  gap: 10px;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.nav-name {
  color: #fff;
  font-size: 24px;
  font-weight: 100;
  min-width: 175px;
  flex-shrink: 0;
}

.nav-title {
  color: #fff;
  font-size: 24px;
  font-weight: 100;
  flex-shrink: 0;
  font-weight: 900;
}

.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex; justify-content: center; align-items: center;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 8px;
}