#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 1fr;
}

 .full-width-flex-row {
  min-height: 100%;
 }


@media (max-width: 600px) {
  #root {
    grid-template-columns: 1fr;   /* single column */
    grid-template-rows: auto 1fr; /* nav on top, content below */
  }

  .full-width-flex-row {
    flex-direction: column;          /* nav items side by side */
    min-width: 100vw;                  /* stretch across top */
    height: auto;                 /* shrink height */
    box-shadow: 0px 1px 1px #aaaaaa;
    padding-left: 11px;
    margin-top: -2px; /* shadow at bottom instead of side */
  }
}


